<div class="flex flex-col items-center justify-center h-[100vh]">
  <div class="w-[800px] min-h-[600px] bg-white p-4 border-2 rounded-[5px]">
    <div class="flex flex-col mb-4">
      @if (paused) {
      <button
        [disabled]="cleanBufferValue"
        (click)="toggle()"
        class="btn bg-green-600"
      >
        Старт
      </button>
      } @else {
      <button (click)="toggle()" class="btn bg-red-600">Стоп</button>
      }
    </div>

    <div class="">
      <h3 class="text-[20px] mb-4">Заморожено: {{ bufferMessages.length }}</h3>
    </div>

    <div class="flex flex-col">
      <h3 class="text-[20px] mb-4">Сообщение:</h3>

      <div class="bg-gray-100 p-3 rounded-[10px] min-h-[180px]">
        <p>{{ currentMessage }}</p>
      </div>
    </div>

    <div class="mt-5">
      <h3 class="text-[20px] mb-4">История сообщений:</h3>

      <div
        class="bg-gray-100 p-3 rounded-[10px] h-[500px] flex flex-col overflow-y-scroll"
      >
        @for (message of messages; track $index) {
        <div
          class="bg-white p-4 rounded-[20px] border-[1px] shadow-md flex items-center mb-3"
        >
          <div
            class="bg-green-500 w-4 h-4 min-h-4 min-w-4 rounded-full me-2"
          ></div>
          <span class="">{{ message }}</span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
